.getAge {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputAge {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: var(--text-color);
    border-radius: 7px;
    border-width: 0;
    background-color: #303030;
}

.inputAge:focus {
    background-color: #3b3b3b;
    outline: none;
}

.buttonAge {
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 10px;
    color: #e6e6e6;
    border-width: 0;
    background-color: #525c66;
    border-radius: 7px;
    width: 100%;
}

.buttonAge:hover {
    background-color: #626e7a;
}

.buttonAge:active {
    background-color: #3b424a;
}