.ProgresBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
}

.ProgresHolder {
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 8px;
}

.ProgresProgres {
    background-color: var(--color-blue);
    width: 50%;
    height: 100%;
}

.ProgresText {
    width: 20%;
    height: 100%;
    text-align: center;
    color: var(--text-color);
}